---
import { Image } from 'astro:assets';

import config from '@config/config.json';

interface Props {
  src?: ImageMetadata;
  class?: Record<string, boolean> | string;
}

const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_width: number;
  logo_height: number;
  logo_text: string;
  title: string;
} = config.site;
const { src, class: className } = Astro.props;
---

<a href="/" class:list={['navbar-brand block uppercase text-lg font-semibold', className]}>
  {
    src ? (
      <Image
        width={logo_width}
        height={logo_height}
        src={src}
        alt={logo_text || title}
        class="h-auto max-w-[170px] sm:h-auto sm:max-w-full"
      />
    ) : logo ? (
      <Image
        width={logo_width}
        height={logo_height}
        src={logo}
        alt={logo_text || title}
        class="h-auto max-w-[170px] sm:h-auto sm:max-w-full"
      />
    ) : (
      logo_text || title
    )
  }
</a>
