---
import { Image } from 'astro:assets';

import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";

import author from '@images/author.png';

const title = "I’m John Doe, A content writer based in LDN, Currently at Bookworm";
const meta_title = "About";

const what_i_do = {
  title: "What I Do",
  items: [
    {
      title: "Content Writing",
      description: "Purus eget ipsum elementum venenatis, quis rutrum mi semper nonpurus eget ipsum elementum venenatis."
    },
    {
      title: "Photography",
      description: "Aenean maximus urna magna elementum, quis rutrum mi semper non purus eget ipsum venenatis."
    },
    {
      title: "Web Research",
      description: "Aenean maximus urna magna elementum venenatis, quis semper non purus eget ipsum venenatis."
    },
  ]
}
---

<Base
  title={title}
  meta_title={meta_title}
  image={author}
>
  <section>
    <div class="container">
      <div class="row md:gx-4">
        <div class="sm:col-5 md:col-4">
          {author && (
            <div class="img-cover mb-8">
              <Image
                src={author}
                width={295}
                height={395}
                alt={title}
                class="rounded-lg w-full"
              />
            </div>
          )}
        </div>
        <div class="sm:col-7 md:col-8">
          <h1 transition:animate="slide" set:html={markdownify(title)} class="text-2xl md:text-3xl font-bold mb-8" />

          <div class="content">
            <p>
              A content writer with over 12 years experience working across
              brand identity, publishing and digital products. Maecenas sit
              amet purus eget ipsum elementum venenatis. Aenean maximus urna
              magna elementum venenatis quis non purus.
            </p>
            <p>
              Purus eget ipsum elementum venenatis. Aenean maximus urna magna
              elementum venenatis, quis rutrum mi semper non purus eget ipsum
              elementum venenatis, aenean maximus urna magna elementum.
            </p>
          </div>
          <a href="/contact" class="btn btn-primary inline-block rounded-lg border font-semibold transition bg-primary text-white mt-2 px-6 py-3">Get In Touch</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h3 class="text-center text-xl md:text-2xl font-bold mb-8">{what_i_do.title}</h3>
      <div class="row justify-center gy-4 text-center">
        {what_i_do.items.map((item: any) => (
          <div class="lg:col-4 md:col-6">
            <i class="{{.icon}} fa-3x text-primary mb-4"></i>
            <h4 class="text-dark font-semibold text-xl md:text-2xl mb-3">{item.title}</h4>
            <p>{item.description}</p>
          </div>
        ))}
      </div>
    </div>
  </section>
</Base>
