---
import { Image } from 'astro:assets';

import Base from "@layouts/Base.astro";
import ContentHeader from "@components/ContentHeader.astro";
import Tile from "@components/Tile.astro";

import author from '@images/author.png';

const title = 'Pinecones & Seashells';
const subTitle = 'This is a super cool curriculum that is all about something and will do something';
---

<Base>
  <ContentHeader title={title} subTitle={subTitle} />

  <section class="container mb-16">
    <div class="row">
      <div class="col">
        <Tile
          image={author}
          title={"Pinecones & Seashells Curriculum"}
          body={"lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostr navigation et dolore magna aliqua."}
        />
      </div>

      <div class="col flex flex-col gap-2">
        <div class="flex gap-2">
          <Image
            src={author}
            width={150}
            alt="Example"
            class="object-cover aspect-square"
          />

          <div>
            Example from curriculum
          </div>
        </div>

        <div class="flex gap-2">
          <Image
            src={author}
            width={150}
            alt="Example"
            class="object-cover aspect-square"
          />

          <div>
            Example from curriculum
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
