---
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";

const allFaqs: CollectionEntry<"faqs">[] = await getCollection("faqs");
const categories = ["STORY", "In-Person", "Virtual"] as const;
const categoryDisplay = {
  'STORY': 'STORY',
  'In-Person': 'In-Person Events',
  'Virtual': 'Virtual Events'
};

const sortedFaqs = allFaqs.sort((a, b) => a.data.order - b.data.order);

const groupedFaqs = categories.map(cat => ({
  id: cat,
  displayName: categoryDisplay[cat],
  items: sortedFaqs.filter(faq => faq.data.category === cat)
}));
---


<Base title="Frequently Asked Questions">
  <section class="section">
    <div class="container content">
      <div class="row md:gx-4">
        <div class="col-10 offset-1 md:col-4 md:offset-4 sm:col-8 sm:offset-2">
          <Image src="/images/story-logo.png" alt="STORY Logo" width={800} height={570} />
        </div>
      </div>

      <div class="row my-12">
        <div class="col-12 md:col-3">
          <h1 class="">FAQs</h1>
        </div>
        <div class="col-12 md:col-9 prose  prose-xl max-w-none">
          <p class="mt-0">
            STORY is committed to helping students, educators and families learn more about the college application process. Further questions? Please email <a href="mailto:info@storyconsortium.org">info@storyconsortium.org</a>. 
          </p>
        </div>
      </div>

      <div class="row my-12">
        {groupedFaqs.map((group) => (
          <div class="col-12 md:col-9 md:offset-3 mb-4 prose prose-slate prose-lg">
            <h6 class="mt-2 mb-2 font-bold font-primary uppercase tracking-wide text-lg">{group.displayName}</h6>
            <ul class="space-y-1 prose">
              {group.items.map((faq) => (
                <li>
                  <a href={`#${faq.id}`} class="transition-colors">
                    {faq.data.question}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))}
      </div>

      {groupedFaqs.map((group) => (
        <div class="row my-12 pt-12">
          <div class="col-12 md:col-3">
            <h2 class="leading-none uppercase font-bold">{group.displayName}</h2>
          </div>
          <div class="col-12 md:col-9">
            {group.items.map(async (faq) => {
              const { Content } = await render(faq);
              return (
                <div class="mb-10 last:mb-0">
                  <h5 class="mt-0 font-primary font-bold"> 
                    <span id={faq.id} class="faq-q font-bold scroll-mt-24 target:animate-spotlight inline-block">
                      {faq.data.question}
                    </span>
                  </h5>
                  <div class="text-lg mt-2 max-w-none">
                    <Content />
                  </div>
                </div>
              );
            })}
          </div>
        </div>
      ))}

      
    </div>
  </section>
    <!-- <section class="section bg-gray-100">
      <div class="container  py-16 ">
        <div class="row">
        <div class="col-12 sm:col-5">
          <h2>Have a question?</h2>
        </div>
        
        <div class="col-12 sm:col-7">
          <p class="pb-4">The STORY Consortium is committed to empowering rural & small-town students – and the communities that support them – by preparing them for the college search and application process, with an aim of expanding access to higher education.</p>
          <button class="btn btn-primary mt-2">
            Learn More
          </button>
        </div>
      </div>
      </div>
      </section> -->

</Base>
