---
import Base from "@layouts/Base.astro";
import ContentHeader from "@components/ContentHeader.astro";
import Posts from "@components/Posts.astro";

import { getAllPosts } from "@lib/contentParser";
import { sortByDate } from "@lib/utils/sortFunctions";

const title = 'Value Proposition';
const subTitle = '"It\s okay to be valued."';

const allPosts = await getAllPosts();

const featuredPosts = sortByDate(allPosts.filter(post => post.data.featured));
const otherPosts = sortByDate(allPosts.filter(post => !post.data.featured));

const posts = featuredPosts.concat(otherPosts).slice(0, 4);
---

<Base>
  <ContentHeader title={title} subTitle={subTitle} />

  <section class="container mb-16">
    <Posts posts={posts} fluid={false} hideMeta={true} />
  </section>
</Base>
