---
import { Image } from 'astro:assets';

interface Props {
  image?: ImageMetadata;
  title?: string;
  body?: string;
  url?: string;
  class?: Record<string, boolean> | string;
}

const { image, title, body, url, class: className } = Astro.props;
---
<div class:list={[className]}>
  <div class="bg-white h-full">
    <slot name="icon">
      {image && (
        <a href={url} class="bg-black block hover:text-primary overflow-hidden group p-3">
          <Image
            class="object-cover aspect-square rounded-lg"
            src={image}
            alt={title || ''}
          />
        </a>
      )}
    </slot>

    <slot name="meta" />

    <slot name="title">
      <div class="text-lg m-4">
        <a href={url} class="block hover:text-primary transition duration-300">
          {title}
        </a>
      </div>
    </slot>

    <slot name="body">
      <p class="text-text m-4">
        {body}
      </p>
    </slot>
  </div>
</div>
